*{
    margin: 0;
    padding: 0;
    color: hsl(214, 17%, 51%);
    font-family: "Young Serif", serif;
    font-weight: 500;
    font-style: normal;
}

body{
    padding: 20px;
    background-color: hsl(212, 23%, 69%);
}

footer{ display: none; }

main, footer.active, .row, .column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main, .column{ flex-direction: column; }

.column{ gap: 10px; }

main, img{
    width: 100%;
    border-radius: 10mm;
    background-color: hsl(210, 46%, 95%);
    font-size: 81.25%;
}

section{ padding: 50px; }

footer.active{
    width: 90%;
    justify-content: space-between;
    padding: 0.5rem;
}

footer img{ width: 20%; }

h1, strong{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

p{ opacity: 0.8; }

a { color: hsl(228, 45%, 44%); }

a:hover {
    color: orangered;
    transition: 1s;
}

.icon-share{
    margin: 5px;
    padding: 0.5rem;
    width: 10%;
    background-color: hsl(214, 17%, 51%);
}

@media screen and (min-width: 1440px) {
    main{
        flex-direction: row;
        width: 90%;
        font-size: 125%;
    }
}

@media screen and (max-width: 500px) {

    footer.active{ width: 100%; }
    
    .row{ gap: 10px; }
}
